@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
*{
  font-family: 'Baloo 2', cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  display:flex;
  flex-direction:column;
  min-height:100vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:768px){
  .info-container{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;

  }

}

@media screen and (max-width:411px) and (min-width:320px){
  table, thead, tbody, th,td,tr{
    display:block;
    max-width:320px;
    min-width:320px;
  }

  thead tr {
    position:absolute;
    top:-9999px;
    left:-9999px;
  }

  tr{
    border:1px solid #ccc;
  }
  td {
    border:none;
    border-bottom:1px solid #eee;
    position:relative;
    padding-left:50%;
  }

  td:before{
    position:absolute;
    top:6px;
    left:6px;
    width:45%;
    padding-right:10px;
    white-space:nowrap;
  }

  .nav{
    margin:10px;
    width:120px;
  }

  .nav li{
    display:block;
    border-top:0px;
  }

}
