.gigs-detail{
  display:flex;
  padding:100px;
  padding-top: 80px;
}

.gigs-detail-img{
  max-width:250px;
  max-height:150px;
}

.gigs-details{
  display:flex;
  flex-direction:column;
  line-height: 1.6;
  border: 1.5px solid black;
}