.listing{
  text-align:center;
  font-size: 32px;
}

.register-container{
  display:block;
  text-align:center;
}

.listing-name,  .links{
  height:25px;
  width:250px;
}

#password-field{
  margin-bottom:50px
}

#submit {
  background-color:#484141;
  color:white;
  font-size:20px;
}